.fikasio-actionbutton {
  background-color: var(--fikasio-blue);
  border: var(--fikasio-border-width-thin) solid var(--fikasio-blue);
  border-radius: var(--fikasio-radius-none);
  color: var(--fikasio-white);
  cursor: pointer;
  font-family: var(--fikasio-font-family);
  font-size: var(--fikasio-font-size-sm);
  padding: 0.3rem 0.7rem;

  &:hover {
    background-color: var(--fikasio-blue-darker);
  }
}
