@use '../../themes.scss';

.fikasio-error {
  background-color: rgb(251, 153, 142);
  border: 1px solid rgb(251, 126, 112);
  color: rgb(120, 20, 20);
  font-family: themes.$fontFamily;
  padding: 1rem 1.5rem;
}
