@use '../../themes.scss';

.fikasio-success {
  background-color: rgb(177, 233, 164);
  border: 1px solid rgb(138, 212, 122);
  color: rgb(35, 87, 17);
  font-family: themes.$fontFamily;
  padding: 1rem 1.5rem;
}
