.fikasio-success {
  background-color: rgb(177, 233, 164);
  border: var(--fikasio-border-width-thin) solid rgb(138, 212, 122);
  color: rgb(35, 87, 17);
  font-family: var(--fikasio-font-family);
  padding: 1rem 1.5rem;
}
