.fikasio-dropdownOptions {
  font-family: var(--fikasio-font-family);
  position: relative;

  .fikasio-dropdownOptions-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
    color: var(--fikasio-gray);

    &:hover {
      color: var(--fikasio-dark-gray);
    }
  }

  .fikasio-dropdownOptions-menu {
    position: absolute;
    top: 100%;
    background-color: var(--fikasio-white);
    border: 1px solid var(--fikasio-light-gray);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
  }

  .fikasio-dropdownOptions-item {
    color: var(--fikasio-dark-gray);
    cursor: pointer;
    font-family: var(--fikasio-font-family);
    padding: 5px 5px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--fikasio-light-gray);
    }
  }

  .fikasio-dropdownOptions-icon {
    color: red;
    margin-right: 5px;
    width: 25px;
  }

  &.fikasio-theme-dark {
    .fikasio-dropdownOptions-toggle {
      color: var(--fikasio-gray);

      &:hover {
        color: var(--fikasio-white);
      }
    }

    .fikasio-dropdownOptions-menu {
      background-color: var(--fikasio-black-lighter);
      border-color: var(--fikasio-dark-gray-lighter);
    }

    .fikasio-dropdownOptions-item {
      color: var(--fikasio-white);

      &:hover {
        background-color: var(--fikasio-dark-gray);
      }
    }
  }

  &.fikasio-theme-light {
    .fikasio-dropdownOptions-toggle {
      color: var(--fikasio-gray);

      &:hover {
        color: var(--fikasio-dark-gray);
      }
    }

    .fikasio-dropdownOptions-menu {
      background-color: var(--fikasio-white);
      border-color: var(--fikasio-light-gray);
    }

    .fikasio-dropdownOptions-item {
      color: var(--fikasio-dark-gray);

      &:hover {
        background-color: var(--fikasio-light-gray);
      }
    }
  }
}
