.fikasio-searchbar {
  border: 1px solid var(--fikasio-light-gray);
  box-sizing: border-box;
  height: 35px;
  font-family: var(--fikasio-font-family);
  position: relative;

  .fikasio-searchbar-input-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .fikasio-searchbar-input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    font-family: var(--fikasio-font-family);
    height: 100%;
    outline: none;
    padding: 6.5px 4px;
    padding-left: 30px;
    width: 100%;

    &::placeholder {
      color: var(--fikasio-gray);
    }
  }

  .fikasio-searchbar-icon {
    position: absolute;
    left: 10px;
    color: var(--fikasio-gray);
    pointer-events: none;
  }

  .fikasio-searchbar-dropdown {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--fikasio-white);
    border: 1px solid var(--fikasio-light-gray);
    border-top: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }

  .fikasio-searchbar-option {
    color: var(--fikasio-dark-gray);
    cursor: pointer;
    font-family: var(--fikasio-font-family);
    font-size: 14px;
    padding: 5px 12px;

    &:hover,
    &.fikasio-searchbar-option-highlighted {
      background-color: var(--fikasio-light-gray);
    }
  }

  &.fikasio-theme-dark {
    border-color: var(--fikasio-dark-gray-lighter);
    background-color: var(--fikasio-black-lighter);

    .fikasio-searchbar-input {
      color: var(--fikasio-white);
      background-color: transparent;

      &::placeholder {
        color: var(--fikasio-gray);
      }
    }

    .fikasio-searchbar-icon {
      color: var(--fikasio-gray);
    }

    .fikasio-searchbar-dropdown {
      background-color: var(--fikasio-black-lighter);
      border-color: var(--fikasio-dark-gray-lighter);
    }

    .fikasio-searchbar-option {
      color: var(--fikasio-white);

      &:hover,
      &.fikasio-searchbar-option-highlighted {
        background-color: var(--fikasio-dark-gray);
      }
    }
  }

  &.fikasio-theme-light {
    border-color: var(--fikasio-light-gray);
    background-color: var(--fikasio-white);

    .fikasio-searchbar-input {
      color: var(--fikasio-dark-gray);
      background-color: transparent;

      &::placeholder {
        color: var(--fikasio-gray);
      }
    }

    .fikasio-searchbar-icon {
      color: var(--fikasio-gray);
    }

    .fikasio-searchbar-dropdown {
      background-color: var(--fikasio-white);
      border-color: var(--fikasio-light-gray);
    }

    .fikasio-searchbar-option {
      color: var(--fikasio-dark-gray);

      &:hover,
      &.fikasio-searchbar-option-highlighted {
        background-color: var(--fikasio-light-gray);
      }
    }
  }
}
