@use '../../themes.scss';

.fikasio-searchbar {
  border: 1px solid themes.$lightGray;
  height: 35px;

  .MuiOutlinedInput-root {
    outline: none !important;
    padding: 0 0 0 5px !important;
  }

  .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 6.5px 4px !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }
}
