@import '../../themes.scss';

.fikasio-datepicker {
  cursor: pointer;
  font-family: $fontFamily;
}

.fikasio-datepicker_dueAt_remove {
  display: none;
  margin-left: 10px;
  color: #b2b2b2;
}

.fikasio-datepicker:hover > .fikasio-datepicker_dueAt_remove {
  display: inline;
}

.react-datepicker__day--selected {
  background-color: #7E5B9A;
}

.react-datepicker__day--selected:hover {
  background-color: #583773;
}

.react-datepicker-wrapper {
  position: absolute;
}
