@import '../../themes.scss';

.fikasio-datepicker {
  cursor: pointer;
  font-family: $fontFamily;
}

.fikasio-datepicker_dueAt_remove {
  display: none;
  margin-left: 10px;
  color: #b2b2b2;
}

.fikasio-datepicker:hover > .fikasio-datepicker_dueAt_remove {
  display: inline;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 20px;
}

.react-datepicker__day--selected {
  background-color: #7E5B9A;
}

.react-datepicker__day--selected:hover {
  background-color: #583773;
}
