@use '../../themes.scss';

.fikasio-footer {
  background-color: #420076;
  color: #ffffff;
  width: 100%;
  height: 128px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.fikasio-footer a {
  color: #ffffff;
}

.fikasio-footer a:hover {
  color: #dddddd;
}
