.fikasio-table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.fikasio-content-table {
  --fikasio-table-bg-state: transparent;
  --fikasio-table-border-color: #dee2e6;
  --fikasio-table-hover-bg: rgba(var(--bs-emphasis-color-rgb, 0, 0, 0), 0.075);
  border-collapse: collapse;
  border-color: var(--fikasio-table-border-color);
  color: var(--bs-emphasis-color, inherit);
  font-family: var(--fikasio-font-family);
  margin-bottom: 1rem;
  vertical-align: top;
  width: 100%;

  :is(thead, tbody, tfoot, tr, td, th) {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  > :not(caption) > * > * {
    background-color: var(--bs-body-bg, #fff);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--fikasio-table-bg-state, transparent);
    color: var(--bs-emphasis-color, inherit);
    padding: 0.5rem;
  }

  > thead {
    vertical-align: bottom;
  }

  > tbody {
    vertical-align: inherit;
  }

  &.fikasio-content-table-bordered {
    > :not(caption) > * {
      border-width: 1px 0;
    }

    > :not(caption) > * > * {
      border-width: 0 1px;
    }
  }

  &.fikasio-content-table-hover > tbody > tr:hover > * {
    --fikasio-table-bg-state: var(--fikasio-table-hover-bg);
  }

  &.fikasio-theme-dark {
    --fikasio-table-border-color: var(--fikasio-dark-gray-lighter);
    --fikasio-table-hover-bg: rgba(255, 255, 255, 0.08);
    color: var(--fikasio-white);

    > :not(caption) > * > * {
      background-color: var(--fikasio-black-lighter);
      color: var(--fikasio-white);
    }
  }
}
