.fikasio-table-wrapper {
  display: block;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.fikasio-table {
  border: 1px solid var(--fikasio-light-gray);
  border-collapse: collapse;
  font-family: var(--fikasio-font-family);
  table-layout: fixed;
  width: 100%;

  thead {
    tr {
      background-color: #eeeeee;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--fikasio-light-gray);
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }

      td {
        background-clip: padding-box;
        background-color: var(--fikasio-white) !important;
        border: 1px solid var(--fikasio-light-gray);
        padding: 0.5rem;
        text-align: left;
        vertical-align: middle;
      }
    }
  }

  thead tr,
  tbody tr {
    th {
      background-color: inherit;
      border: 1px solid var(--fikasio-light-gray);
      padding: 0.5rem;
      text-align: left;

      &.sortable-column {
        cursor: pointer;
      }
    }
  }

  .sortable-column-buttons {
    margin-left: 15px;
    visibility: hidden;
  }

  .sortable-column:hover .sortable-column-buttons {
    visibility: visible;
  }

  .itemStaticColumn-right {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
  }

  &.fikasio-theme-dark {
    border-color: var(--fikasio-dark-gray-lighter);
    background-color: var(--fikasio-black-lighter);

    thead {
      tr {
        background-color: var(--fikasio-dark-gray);
      }
    }

    tbody {
      tr {
        border-bottom-color: var(--fikasio-dark-gray-lighter);

        &:hover {
          background-color: var(--fikasio-dark-gray);
        }

        td {
          background-color: var(--fikasio-black-lighter) !important;
          border-color: var(--fikasio-dark-gray-lighter);
          color: var(--fikasio-white);
        }
      }
    }

    thead tr,
    tbody tr {
      th {
        border-color: var(--fikasio-dark-gray-lighter);
        color: var(--fikasio-white);
      }
    }
  }

  &.fikasio-theme-light {
    border-color: var(--fikasio-light-gray);
    background-color: var(--fikasio-white);

    thead {
      tr {
        background-color: #eeeeee;
      }
    }

    tbody {
      tr {
        border-bottom-color: var(--fikasio-light-gray);

        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }

        td {
          background-color: var(--fikasio-white) !important;
          border-color: var(--fikasio-light-gray);
          color: var(--fikasio-dark-gray);
        }
      }
    }

    thead tr,
    tbody tr {
      th {
        border-color: var(--fikasio-light-gray);
        color: var(--fikasio-dark-gray);
      }
    }
  }
}
