// https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
// https://www.sitepoint.com/sass-theming-neverending-story/?source=post_page

// Fonts
$fontFamily: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Colors
$black: #000000;
$blackLighter: #2a2a2a;
$blue: #0078FF;
$darkGray: #333333;
$darkGrayLighter: #444444;
$gray: #777777;
$lightGray: #CCCCCC;
$lightGrayDarker: #BBBBBB;
$green: #1E871E;
$mauve: #7f1f82;
$orange: #C63D0F;
$red: #BF3838;
$purple: #4B0082;
$white: #FFFFFF;
